.thumbs-index {
    float: right;
    clear: none;
    white-space: nowrap;
}
.thumb {
    clear: none;
    width: auto;
    height: auto;
    padding: 5px;
    border: 2px;
    display: inline;
}
#main-img {
    text-align: center;
    clear: none;
}